<div class="container text">
    <mat-card class="mat-card">
      <div>
        <mat-card-header>
          <mat-card-title><img class="imgg" src="../../assets/Images/googleLogo.png"/></mat-card-title>
        </mat-card-header>
      </div>
      <div class="main">
        <div class="child">
          <mat-card-content>
            <h1 style="font-size: 36px;padding-left: 30px;">Find your Email</h1>
            <h3 style="font-size: 16px;padding-left: 30px;">Enter your email for recovery</h3>
          </mat-card-content>
        </div>
        <div class="child" style="padding-top:30px;">
          <mat-card-content>
            <div>
              <mat-form-field appearance="outline" class="form">
                <mat-label>Phone Number or email</mat-label>
                <input matInput placeholder="Phone Number or email">
              </mat-form-field>
            </div>
          </mat-card-content>
        </div>
      </div>
      <div class="main save">
        <div>
          <button mat-flat-button color="primary" class="next">Next</button>
        </div>
      </div>
    </mat-card>
    <div class="footer">
      <div class="main">
        <div class="child">
          <mat-form-field>
            <mat-label>English (United States)</mat-label>
            <mat-select>
              <mat-option value="English">English</mat-option>
              <mat-option value="Telugu">Telugu</mat-option>
              <mat-option value="Hindi">Hindi</mat-option>
              <mat-option value="Kannada">Kannada</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="child text" style="direction: rtl; margin-top: 5px;">
          <button mat-button>Terms</button>
          <button mat-button>Privacy</button>
          <button mat-button>Help</button>
        </div>
      </div>
    <div>
  </div>

