<div class="row">
  <div *ngFor="let notes of ListofNotes" class="card">
    <mat-card  [style.background]="notes.color" style="border-radius: 15px;">
        <mat-card-header (click)="UpdatingNote(notes)">
          <mat-card-title>{{notes.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content (click)="UpdatingNote(notes)">
            <div>{{notes.description}}</div>
            <div>{{notes.notesId}}</div>
        </mat-card-content>
        <div>
          <app-icons [notesObject]="notes" (refreshForiconEvent)="IconEventRefresh($event)"></app-icons>
        </div>
    </mat-card>
</div>
</div>
