<div class="row">
    <div *ngFor="let notes of ListofTrashNotes" class="card">
      <mat-card  [style.background]="notes.color" style="border-radius: 15px;">
          <mat-card-header>
            <mat-card-title>{{notes.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <div>{{notes.description}}</div>
              <div>{{notes.notesId}}</div>
          </mat-card-content>
          <div class="TrashIcon">
            <button mat-icon-button>
                <img src="../../assets/Images/delete_forever.svg" alt="Icon Not Found"/>
            </button >
            <button mat-icon-button  (click)="RestoreTrash(notes)">
                <img src="../../assets/Images/restore_from_trash.svg" alt="Icon Not Found"/>
            </button>
          </div>
      </mat-card>
  </div>
</div>