<div class="container text">
    <mat-card class="mat-card">
      <div>
        <mat-card-header>
          <mat-card-title><img class="imgg" src="../../assets/Images/googleLogo.png"/></mat-card-title>
        </mat-card-header>
      </div>
      <div class="main">
        <div class="child">
          <mat-card-content>
            <h1 style="font-size: 36px;padding-left: 30px;">Sign in</h1>
            <h3 style="font-size: 16px;padding-left: 30px;">Use your Google Account</h3>
          </mat-card-content>
        </div>
        <div class="child" style="padding-top:30px;">
          <mat-card-content>
            <form [formGroup]="LoginForm" (ngSubmit)="Onlogin()">
              <div>
              <mat-form-field appearance="outline" class="form">
                <mat-label>Email or phone</mat-label>
                <input matInput placeholder="Email or phone" formControlName="email">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="form">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" type="password" formControlName="password">
                <mat-hint>
                  <button mat-button color="primary">Forget Password?</button>
                </mat-hint>
              </mat-form-field>
            </div>
            <div>
              <h5 class="text smallThing" >Not your computer? Use Guest mode to sign in privately.</h5>
              <a href="#" class="text" style="text-decoration: none; color: rgb(11,87,208);">Learn more about using Guest mode</a>
            </div>
            <div class="main" style="direction: rtl;padding-right: 6%; margin-top: 25px;">
              <div>
                <button mat-flat-button onclick="" color="primary">Submit</button>
              </div>
              <div style="padding-right:25px;">
                <button mat-button class="text" color="primary">Create account</button>
              </div>
            </div>
            </form>
          </mat-card-content>
        </div>
      </div>
    </mat-card>
    <div class="footer">
      <div class="main">
        <div class="child">
          <mat-form-field>
            <mat-label>English (United States)</mat-label>
            <mat-select>
              <mat-option value="English">English</mat-option>
              <mat-option value="Telugu">Telugu</mat-option>
              <mat-option value="Hindi">Hindi</mat-option>
              <mat-option value="Kannada">Kannada</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="child text" style="direction: rtl; margin-top: 5px;">
          <button mat-button>Terms</button>
          <button mat-button>Privacy</button>
          <button mat-button>Help</button>
        </div>
      </div>
    <div>
  </div>
